[submodule "qbox"]
	path = sources/qbox
	url = https://github.com/quic/qbox.git
[submodule "sources/buildroot"]
	path = sources/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
	branch = 2026.02.1
	shallow = false
[submodule "sources/linux"]
	path = sources/linux
	url = https://github.com/cometzero/linux.git
	branch = feature/qbox_dev
	shallow = false
[submodule "sources/qemu"]
	path = sources/qemu
	url = https://github.com/cometzero/qemu.git
	shallow = false
	branch = feature/qbox_dev
[submodule "sources/smmu"]
	path = sources/smmu
	url = https://github.com/jpgreninger/smmu.git
