[submodule "qbox"]
	path = sources/qbox
	url = https://github.com/quic/qbox.git
[submodule "sources/buildroot"]
	path = sources/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
	branch = 2026.02.1
	shallow = false
[submodule "sources/linux"]
	path = sources/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
	branch = master
	shallow = false
[submodule "sources/qemu"]
	path = sources/qemu
	url = https://github.com/quic/qemu.git
	shallow = false
